/* stylelint-disable no-descending-specificity */
.swap {
  $bg-color: #1b1c25;

  height: 100vh;
  padding: 12px;
  padding-bottom: 100px;
  max-width: 400px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    :global {
      .ant-form-item {
        margin-bottom: 0;
      }

      .ant-select-selector {
        background-color: text-dark !important;
        border: 0 !important;
        outline: 0 !important;
        box-shadow: none !important;
      }
    }
  }

  &_button {
    width: 48px !important;
    height: 48px;
    padding: 10px;
    margin-block: -26px;
    border: 2px solid #709dad;
    border-radius: 12px;
  }
}
