/* stylelint-disable no-descending-specificity */
.swap {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #a1b4c9;

  &_body {
    border-radius: 20px;
    padding: 36px;
    max-width: 400px;
    margin-inline: auto;
    row-gap: 18px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(224, 224, 224);
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;

    :global {
      .ant-form-item {
        margin-bottom: 0;
      }

      .ant-select-selector {
        background-color: text-dark !important;
        border: 0 !important;
        outline: 0 !important;
        box-shadow: none !important;
      }
    }
  }

  &_button {
    width: 48px !important;
    height: 48px;
    padding: 10px;
    margin-block: -26px;
    border: 2px solid #709dad;
    border-radius: 12px;
  }
}
