.swapCard {
  width: 100%;
  padding: 12px 18px;
  background-color: #f7f9fa;
  border-radius: 24px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);

  input {
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
    transform: translateX(2px);
    padding: 0;
    text-align: right;
    font-size: 26px;
    background-color: rgba(161, 180, 201, 0.25) !important;
  }

  &_tokenInput {
    position: relative;

    button {
      position: absolute;
      top: 0;
      padding: 0 8px !important;
      background-color: #d9e1e9;
      border-color: #d9e1e9;
      outline-color: #d9e1e9;
    }
  }

  &_amountInput {
    // marginBottom: -14,
    flex-grow: 1;
    :global {
      .ant-form-item-explain-error {
        text-align: right;
      }
    }
  }
}
