.appText {
  &--primary {
    color: #425f6d;
  }
  &--green {
    color: green;
  }
  &--link {
    color: #008dff;
  }

  &--white {
    color: white;
  }

  &--red {
    color: red;
  }

  &--grey {
    color: grey;
  }
}
